@import "tailwindcss";

/* Sua configuração de Glassmorphism para o EventlyHub */
.glass-card {
    background: rgba(255, 255, 255, 0.45); 
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.5rem;
}