@import "tailwindcss";

/* Sua classe Glassmorphism personalizada */
.glass-card {
    background: rgba(255, 255, 255, 0.45); 
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.05);
    border-radius: 2.5rem;
}